/* Presets */
:root[data-theme="light"] {
	--text: #0a2414;
	--background: #f7fdf9;
	--primary: #55aaa0;
	--secondary: #d0dee7;
	--accent: #4f7e9c;
	--selected: #b53947;
}

:root[data-theme="dark"] {
	--text: #ecfcf2;
	--background: #020804;
	--primary: #55aaa0;
	--secondary: #18262f;
	--accent: #6393b0;
	--selected: #b53947;
}

* {
	color: var(--text);
	background-color: var(--background);
	font-family: 'PT Sans', sans-serif;
	scroll-behavior: smooth;
	scroll-padding-top: 10rem;
	box-sizing: border-box;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

::selection {
	background-color: var(--accent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Nunito', sans-serif;
}

button,
a {
	cursor: pointer;
}

a {
	color: var(--accent);
}

html,
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

/* Color Mode */
#colorMode {
	position: fixed;
	width: 1.5rem;
	height: 1.5rem;
	background-color: var(--secondary);
	overflow: hidden;
	border: 2px solid var(--text);
	border-radius: 5px;
	bottom: 1rem;
	left: 1rem;
}

#colorMode svg {
	position: absolute;
	width: 70%;
	height: 70%;
	left: 15%;
	top: 15%;
	fill: var(--text);
	background-color: transparent;
	transition: transform 0.3s ease-in-out;
}

:root[data-theme="light"] #colorMode #moonIcon {
	transform: translateY(3rem);
}

:root[data-theme="dark"] #colorMode #sunIcon {
	transform: translateY(3rem);
}

#colorMode:hover {
	transform: scale(1.1);
}

#colorMode:focus-visible {
	outline: 3px solid var(--accent);
	outline-offset: 3px;
}

/* Header */

header {
	position: fixed;
	width: 100%;
	height: fit-content;
	background-color: var(--primary);
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	z-index: 2;
}

header h2 {
	margin: 0;
	background-color: transparent;
	flex: 1 1 0px;
	transition: font-size 0.3s ease-in-out;
}

header[data-state="expanded"] h2 {
	font-size: 6vmin;
}

header[data-state="collapsed"] h2 {
	font-size: max(3vmin, 0.75rem);
}

header h2 a {
	text-decoration: none;
	background-color: transparent;
	color: var(--text);
	font: inherit;
}

header h2 a:hover {
	color: var(--secondary);
}

header h2 a:focus-visible {
	color: var(--secondary);
	outline: 2px solid var(--secondary);
	outline-offset: 0.5rem;
	border-radius: 5px;
}

header nav {
	background-color: transparent;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: max(6vmin, 1.2rem);
	height: max(6vmin, 1.2rem);
}

nav ul {
	position: absolute;
	padding: 0.5rem;
	margin: 0;
	right: 0;
	top: calc(100% - 1.5px);
	background-color: var(--secondary);
	display: flex;
	justify-content: center;
	align-items: end;
	flex-direction: column;
	gap: 0.25rem;
	border: 2px solid var(--text);
	border-radius: 10px 0px 10px 10px;
	width: 7rem;
	transform-origin: top right;
	transition: transform 0.3s ease-in-out;
	list-style: none;
}

nav[data-state="collapsed"] ul {
	transform: scale(0);
}

nav[data-state="expanded"] ul {
	transform: scale(1);
}

nav ul li {
	background-color: transparent;
}

nav ul a {
	background-color: transparent;
	text-decoration: none;
	text-align: right;
	color: var(--text);
	white-space: nowrap;
	transition: color 0s;
	line-height: 1.25rem
}

nav[data-state="collapsed"] ul a {
	visibility: hidden;
}

nav[data-state="expanded"] ul a {
	visibility: visible;
}

nav ul a:hover {
	color: var(--selected);
	font-weight: bold;
	font-size: larger;
}

nav ul a:focus-visible {
	outline: 2px solid var(--selected);
	outline-offset: 2px;
	color: var(--selected);
	font-weight: bold;
	font-size: larger;
}

nav button {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--secondary);
	border: 2px solid var(--text);
	padding: 0;
	transition: border-radius 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav button svg path {
	fill: var(--text);
}

nav button:focus-visible {
	outline: 3px solid var(--background);
	outline-offset: 3px;
}

nav button:focus-visible svg path {
	fill: var(--selected);
}


nav button:hover svg path {
	fill: var(--selected);
}

nav[data-state="collapsed"] button {
	border-radius: 10px;
}

nav[data-state="expanded"] button {
	border-radius: 10px 10px 0px 0px;
}


nav button svg {
	position: absolute;
	height: 60%;
	width: 60%;
	background-color: transparent;
	transition: transform 0.3s ease-in-out;
	transform: scale(0) rotate(180deg);
}

nav[data-state="collapsed"] button svg:nth-child(1) {
	transform: scale(1) rotate(0deg);
}

nav[data-state="expanded"] button svg:nth-child(2) {
	transform: scale(0.9) rotate(180deg);
}

nav button::before {
	content: '';
	position: absolute;
	background-color: var(--secondary);
	height: 0.5rem;
	bottom: -0.35rem;
	width: 100%;
	z-index: 2;
	transition: opacity 0.3s ease-in-out;
}

nav[data-state="expanded"] button::before {
	opacity: 1;
}

nav[data-state="collapsed"] button::before {
	opacity: 0;
}

/* Main */

main {
	position: relative;
	padding-bottom: 1rem;
	padding-inline: 2rem;
}

header[data-state="expanded"]~main {
	padding-top: calc(7vmin + 3.2rem);
}

header[data-state="collapsed"]~main {
	padding-top: calc(6vmin + 3.2rem);
}

/* Sections */

section {
	position: relative;
	width: 100%;
	height: fit-content;
	box-sizing: border-box;
	border: 2px solid orange;
}

#aboutSection {
	display: flex;
	justify-content: center;
	align-items: center;
}

#aboutSection .bioCard {
	position: relative;
	width: fit-content;
}

#aboutSection .bioCard .card {
	background-color: var(--secondary);
	position: relative;
	width: fit-content;
	height: 20rem;
	border-radius: 15px;
	border: 2px solid var(--text);
	margin: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#aboutSection .bioCard .card .headshot {
	border-radius: 100%;
	outline: 3px solid var(--text);
	outline-offset: -1px;
	max-width: 9rem;
	max-height: 9rem;
	min-width: 6rem;
	min-height: 6rem;
	overflow: hidden;
	margin: 0.25rem 0.5rem;
	background-color: var(--background);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2355AAA0' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%234F7E9C'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
	background-size: 20%;
	background-attachment: fixed;
}

#aboutSection .bioCard .card .headshot img {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0.5rem;
	left: 0.25rem;
	background-color: transparent;
}

#aboutSection .bioCard h3 {
	position: relative;
	margin: 0;
	background-color: transparent;
	padding: 0.25rem 0.5rem;
	white-space: nowrap;
	text-align: center;
}

#aboutSection .bioCard p {
	position: relative;
	margin: 0;
	background-color: transparent;
	padding: 0.25rem 0.5rem;
	text-align: center;
}

#aboutSection .bioCard .quickContacts {
	position: relative;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

#aboutSection .bioCard .quickContacts button {
	position: relative;
	border-radius: 5px;
	width: 1.5rem;
	height: 1.5rem;
	margin: 0.5rem;
	border: 2px solid var(--text);
	overflow: hidden;
}

#aboutSection .bioCard .quickContacts button:nth-child(1) {
	background-color: rgb(26, 107, 196);
}

#aboutSection .bioCard .quickContacts button:nth-child(1) svg {
	transform: scale(1.3);
}


#aboutSection .bioCard .quickContacts button:nth-child(2) {
	background-color: rgb(119, 141, 219);
}

#aboutSection .bioCard .quickContacts button:nth-child(2) svg {
	transform: scale(1.5);
}

#aboutSection .bioCard .quickContacts button:nth-child(3) {
	background-color: rgb(255, 65, 48);
}

#aboutSection .bioCard .quickContacts button:nth-child(3) svg {
	transform: scale(1.6);
}

#aboutSection .bioCard .quickContacts button a {
	position: relative;
	background-color: transparent;
	display: block;
	width: 100%;
	height: 100%;
}

#aboutSection .bioCard .quickContacts button a svg {
	position: relative;
	background-color: transparent;
	width: 100%;
	height: 100%;
}

#aboutSection .bioCard .quickContacts button a svg path {
	fill: rgb(255, 255, 255);
}

#aboutSection .bioCard button {
	position: relative;
	border-radius: 10px;
	width: 60%;
	height: 2.5rem;
	margin: 0.5rem;
	border: 2px solid var(--text);
	background-color: var(--primary);
}

#aboutSection .bioCard button a {
	background-color: transparent;
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}

#aboutSection .bioCard button:hover {
	transform: scale(1.1);
}

#aboutSection .bioCard button:focus-visible {
	transform: scale(1.1);
	outline: 2px solid var(--selected);
	outline-offset: 2px;
}

body {
	height: 1000vh;
}