/* Presets */
:root[data-theme="light"] {
	--text: #0a2414;
	--background: #f7fdf9;
	--primary: #55aaa0;
	--secondary: #d0dee7;
	--accent: #4f7e9c;
	--selected: #b53947;
}

:root[data-theme="dark"] {
	--text: #ecfcf2;
	--background: #020804;
	--primary: #55aaa0;
	--secondary: #18262f;
	--accent: #6393b0;
	--selected: #b53947;
}

* {
	color: var(--text);
	font-family: 'PT Sans', sans-serif;
	scroll-behavior: smooth;
	scroll-padding-top: 7.5rem;
	box-sizing: border-box;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

::selection {
	background-color: var(--accent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Nunito', sans-serif;
}

button,
a {
	cursor: pointer;
}

a {
	color: var(--accent);
}

html,
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background-color: var(--background);
}

/* Color Mode */
#colorMode {
	position: fixed;
	width: 1.5rem;
	height: 1.5rem;
	background-color: var(--secondary);
	overflow: hidden;
	border: 2px solid var(--text);
	border-radius: 5px;
	bottom: 1rem;
	left: 1rem;
	z-index: 2;
}

#colorMode svg {
	position: absolute;
	width: 70%;
	height: 70%;
	left: 15%;
	top: 15%;
	fill: var(--text);
	background-color: transparent;
	transition: transform 0.3s ease-in-out;
}

:root[data-theme="light"] #colorMode #moonIcon {
	transform: translateY(3rem);
}

:root[data-theme="dark"] #colorMode #sunIcon {
	transform: translateY(3rem);
}

#colorMode:hover svg,
#colorMode:focus-visible svg {
	fill: var(--selected);
}

#colorMode:focus-visible {
	outline: 3px solid var(--selected);
	outline-offset: 3px;
}

/* Header */

header {
	position: fixed;
	width: 100%;
	height: fit-content;
	background-color: var(--primary);
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	z-index: 3;
}

header .progressBar {
	--scrollAmount: 0;
	position: absolute;
	background-color: var(--text);
	width: var(--scrollAmount);
	height: 0.2rem;
	bottom: 0;
	left: 0;
	border-radius: 0px 15px 15px 0px;
	z-index: 2;
}

header h2 {
	margin: 0;
	background-color: transparent;
	flex: 1 1 0px;
	transition: font-size 0.3s ease-in-out;
}

header[data-state="expanded"] h2 {
	font-size: 6vmin;
}

header[data-state="collapsed"] h2 {
	font-size: max(3vmin, 0.75rem);
}

header h2 a {
	text-decoration: none;
	background-color: transparent;
	color: var(--text);
	font: inherit;
}

header h2 a:hover {
	color: var(--secondary);
}

header h2 a:focus-visible {
	color: var(--secondary);
	outline: 2px solid var(--secondary);
	outline-offset: 0.5rem;
	border-radius: 5px;
}

header nav {
	background-color: transparent;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: max(6vmin, 1.2rem);
	height: max(6vmin, 1.2rem);
	z-index: 3;
}

nav ul {
	position: absolute;
	padding: 0.5rem;
	margin: 0;
	right: 0;
	top: calc(100% - 1.5px);
	background-color: var(--secondary);
	display: flex;
	justify-content: center;
	align-items: end;
	flex-direction: column;
	gap: 0.25rem;
	border: 2px solid var(--text);
	border-radius: 10px 0px 10px 10px;
	width: 7rem;
	transform-origin: top right;
	transition: transform 0.3s ease-in-out;
	list-style: none;
}

nav[data-state="collapsed"] ul {
	transform: scale(0);
}

nav[data-state="expanded"] ul {
	transform: scale(1);
}

nav ul li {
	background-color: transparent;
}

nav ul a {
	background-color: transparent;
	text-decoration: none;
	text-align: right;
	color: var(--text);
	white-space: nowrap;
	transition: color 0s;
	line-height: 1.25rem
}

nav[data-state="collapsed"] ul a {
	visibility: hidden;
}

nav[data-state="expanded"] ul a {
	visibility: visible;
}

nav ul a:hover {
	color: var(--selected);
	font-weight: bold;
	font-size: larger;
}

nav ul a:focus-visible {
	outline: 2px solid var(--selected);
	outline-offset: 2px;
	color: var(--selected);
	font-weight: bold;
	font-size: larger;
}

nav button {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--secondary);
	border: 2px solid var(--text);
	padding: 0;
	transition: border-radius 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav button svg path {
	fill: var(--text);
}

nav button:focus-visible {
	outline: 3px solid var(--background);
	outline-offset: 3px;
}

nav button:focus-visible svg path {
	fill: var(--selected);
}


nav button:hover svg path {
	fill: var(--selected);
}

nav[data-state="collapsed"] button {
	border-radius: 10px;
}

nav[data-state="expanded"] button {
	border-radius: 10px 10px 0px 0px;
}


nav button svg {
	position: absolute;
	height: 60%;
	width: 60%;
	background-color: transparent;
	transition: transform 0.3s ease-in-out;
	transform: scale(0) rotate(180deg);
}

nav[data-state="collapsed"] button svg:nth-child(1) {
	transform: scale(1) rotate(0deg);
}

nav[data-state="expanded"] button svg:nth-child(2) {
	transform: scale(0.9) rotate(-180deg);
}

nav button::before {
	content: '';
	position: absolute;
	background-color: var(--secondary);
	height: 0.5rem;
	bottom: -0.35rem;
	width: 100%;
	z-index: 2;
	transition: opacity 0.3s ease-in-out;
}

nav[data-state="expanded"] button::before {
	opacity: 1;
}

nav[data-state="collapsed"] button::before {
	opacity: 0;
}

/* Main */

main {
	position: relative;
	padding-bottom: 1rem;
	padding-inline: 2rem;
	background-color: transparent;
}

header[data-state="expanded"]~main {
	padding-top: calc(7vmin + 3.2rem);
}

header[data-state="collapsed"]~main {
	padding-top: calc(6vmin + 3.2rem);
}

/* Sections */

section {
	position: relative;
	width: 100%;
	height: fit-content;
	box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media (min-width: 872px) {
	#introSection {
		flex-direction: row;
	}

	#introSection .textContent {
		padding: 5rem;
		width: 50%;
	}
}

#introSection .bioCard {
	position: relative;
	width: fit-content;
}

#introSection .bioCard .card {
	background-color: var(--secondary);
	position: relative;
	width: fit-content;
	height: 20rem;
	border-radius: 15px;
	border: 2px solid var(--text);
	margin: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#introSection .bioCard .card .headshot {
	border-radius: 100%;
	outline: 3px solid var(--text);
	outline-offset: -1px;
	max-width: 9rem;
	max-height: 9rem;
	min-width: 6rem;
	min-height: 6rem;
	overflow: hidden;
	margin: 0.25rem 0.5rem;
	background-color: var(--background);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2355AAA0' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%234F7E9C'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
	background-size: 15vmin;
	background-attachment: fixed;
}

#introSection .bioCard .card .headshot img {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0.5rem;
	left: 0.25rem;
	background-color: transparent;
}

#introSection .bioCard h3 {
	position: relative;
	margin: 0;
	background-color: transparent;
	padding: 0.25rem 0.5rem;
	white-space: nowrap;
	text-align: center;
}

#introSection .bioCard p {
	position: relative;
	margin: 0;
	background-color: transparent;
	padding: 0.25rem 0.5rem;
	text-align: center;
}

#introSection .bioCard .quickContacts {
	position: relative;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

#introSection .bioCard .quickContacts a {
	position: relative;
	border-radius: 5px;
	width: 1.5rem;
	height: 1.5rem;
	margin: 0.5rem;
	border: 2px solid var(--text);
	overflow: hidden;
}

#introSection .bioCard .quickContacts a:nth-child(1) {
	background-color: rgb(26, 107, 196);
}

#introSection .bioCard .quickContacts a:nth-child(2) {
	background-color: rgb(119, 141, 219);
}

#introSection .bioCard .quickContacts a:nth-child(3) {
	background-color: rgb(255, 65, 48);
}

#introSection .bioCard .quickContacts a {
	position: relative;
	background-color: transparent;
	display: block;
}

#introSection .bioCard .quickContacts a svg {
	position: relative;
	background-color: transparent;
	width: 100%;
	height: 100%;
	transform: scale(0.7);
}

#introSection .bioCard .quickContacts a svg path {
	fill: rgb(255, 255, 255);
}

#introSection .bioCard a {
	position: relative;
	border-radius: 10px;
	width: 60%;
	height: 2.5rem;
	margin: 0.5rem;
	border: 2px solid var(--text);
	background-color: var(--primary);
	text-decoration: none;
	color: inherit;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

#introSection .bioCard a:hover {
	transform: scale(1.1);
}

#introSection .bioCard a:focus-visible {
	transform: scale(1.1);
	outline: 2px solid var(--selected);
	outline-offset: 2px;
}

.textContent {
	max-width: 90%;
}

.textContent h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary);
	font-size: max(4vmin, 1.25rem);
	padding: 0.5rem;
	border-radius: 15px;
	width: fit-content;
	margin: 1rem auto;
	border: 2px solid var(--text);
	text-align: center;
}

.textContent a {
	text-decoration: none;
	color: var(--accent);
	font-weight: bold;
}

.textContent a:hover {
	color: var(--selected);
}

.textContent a:focus-visible {
	color: var(--selected);
	outline: 2px solid var(--selected);
}

.textContent h1 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	font-size: max(5vmin, 1.5rem);
}

#aboutSection .imageScroller {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
	border: 2px solid var(--text);
	width: 100%;
	margin-bottom: 1rem;
}

@media (min-width: 600px) {
	#aboutSection .imageScroller {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 90%;
	}

	.imageScroller .imageList {
		position: relative;
		z-index: 1;
		padding-bottom: 0 !important;
		display: flex;
		align-self: stretch;
		height: 70dvh;
	}

	.imageScroller .scrollerDesc {
		align-self: stretch;
		position: relative;
		background-color: var(--secondary);
		z-index: 1;
		height: 70dvh;
		width: 105% !important;
	}

	.scrollerDesc::before {
		content: '';
		position: absolute;
		width: 25% !important;
		height: 100% !important;
		right: 100% !important;
		bottom: 0 !important;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--secondary) 100%) !important;		
	}

	.scrollerDesc .scrollerControls {
		position: absolute !important;
		transform: rotate(90deg);
		left: -3.5rem !important;
		width: auto !important;
	}

	.imageList img[data-state="active"] {
		opacity: 1;
	}
	
	.imageList img[data-state="inactive"] {
		opacity: 0;
	}

	.imageScroller .scrollerDesc .descHolder {
		width: 80% !important;
		font-size: unset !important;
	}
}

.imageScroller .imageList {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
}

.imageList:hover .imageCredits,
.imageList:focus-visible .imageCredits {
	visibility: visible;
}

.imageScroller .imageCredits {
	position: absolute;
	height: fit-content;
	background-color: var(--text);
	z-index: 2;
	top: 0;
	width: 100%;
	padding: 0rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	visibility: hidden;
}

.imageScroller .imageCredits p {
	position: relative;
	height: 100%;
	color: var(--background);
	font-size: max(1vmin, 0.8rem);
	display: flex;
	justify-content: center;
	align-items: center;
}

.imageScroller .imageCredits a {
	position: relative;
	height: 1rem;
	width: 1rem;
}

.imageScroller .imageCredits a svg {
	position: relative;
	height: 70%;
	width: 70%;
	bottom: 15%;
	fill: var(--background);
}

.imageList img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: opacity 0.5s ease-in-out;
}

.imageList img[data-state="active"] {
	opacity: 1;
}

.imageList img[data-state="inactive"] {
	opacity: 0;
}

.imageScroller .scrollerDesc {
	position: relative;
	background-color: var(--secondary);
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;
	z-index: 1;
}

.scrollerDesc::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 25%;
	bottom: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--secondary) 100%);
	pointer-events: none;
}

.imageScroller .scrollerDesc .titleHolder {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
}

.imageScroller .scrollerDesc .descHolder {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	font-size: smaller;
}

.imageScroller .scrollerDesc .titleHolder h2 {
	margin: 0;
	margin-top: 0.25rem;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: max(4vmin, 1.25rem);

	grid-row-start: 1;
	grid-column-start: 1;
	transition: opacity 0.5s ease-in-out;
}

.imageScroller .scrollerDesc .titleHolder h2[data-state="active"] {
	opacity: 1;
}

.imageScroller .scrollerDesc .titleHolder h2[data-state="inactive"] {
	opacity: 0;
}

.imageScroller .scrollerDesc .descHolder p {
	margin: 0;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	grid-row-start: 1;
	grid-column-start: 1;
	transition: opacity 0.5s ease-in-out;
}

.imageScroller .scrollerDesc .descHolder p[data-state="active"] {
	opacity: 1;
}

.imageScroller .scrollerDesc .descHolder p[data-state="inactive"] {
	opacity: 0;
}

.scrollerDesc .scrollerControls {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	gap: 0.5rem;
}

.scrollerControls button {
	background-color: transparent;
	border: none;
	width: 1rem;
	height: 1rem;
	position: relative;
	transition: transform 0.3s ease-in-out;
	border-radius: 100%;
}

.scrollerControls button:hover {
	transform: scale(1.5);
}

.scrollerControls button:hover svg {
	fill: var(--selected);
}

.scrollerControls button:focus-visible {
	transform: scale(1.5);
	outline: 2px solid var(--selected);
}

.scrollerControls button:focus-visible svg {
	fill: var(--selected);
}

.scrollerControls button svg {
	position: absolute;
	width: 1rem;
	height: 1rem;
	left: 0;
	top: 0;
	fill: var(--text);
}

.scrollerControls .scrollerLeftArrow svg {
	transform: scale(1.5) rotate(90deg);
}

.scrollerControls .scrollerRightArrow svg {
	transform: scale(1.5) rotate(-90deg);
}

.scrollerControls .scrollerIndex {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.scrollerIndex .scrollerIndexItem {
	position: relative;
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 100%;
	border: 2px solid var(--text);
	opacity: 0.75;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.scrollerIndex .scrollerIndexItem[data-state="inactive"] {
	background-color: var(--accent);
}

.scrollerIndex .scrollerIndexItem[data-state="active"] {
	background-color: var(--primary);
	transform: scale(1.1);
	opacity: 1;
}

#projectsSection .projectDisplay {
	display: grid;
	grid-template-columns: 1fr;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
	border: 2px solid var(--text);
	width: 100%;
	margin-bottom: 1rem;
	padding: 1rem;
	gap: 1rem;
	grid-auto-rows: 0.75fr;
	background: radial-gradient(circle, var(--secondary) 0%, var(--accent) 100%);
}

#projectsSection .projectDisplay .project {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	border-radius: calc(25px - 1rem);
	outline: 3px solid var(--text);
	outline-offset: -1px;
}

.projectDisplay .project img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.projectDisplay .project .projectHoverOverlay {
	position: absolute;
	background: linear-gradient(90deg, var(--background) 0%, var(--primary) 100%);
	width: 100%;
	height: 100%;
	z-index: 2;
	transform: scale(0) rotate(360deg);
	transition: transform 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0.85;
	border-radius: calc(25px - 1rem);
}

.projectDisplay .project:hover .projectHoverOverlay {
	transform: scale(1) rotate(0deg);
}

.projectDisplay .project .projectHoverText {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	transform: scale(0) rotate(360deg);
	transition: transform 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.projectDisplay .project .projectHoverText h2 {
	margin: 0;
	padding: 0rem 1rem;
	font-size: 0.8rem;
}

.projectDisplay .project .projectHoverText p {
	margin: 0;
	padding: 0rem 1rem;
	font-size: 0.7rem;
}

.projectDisplay .project:hover .projectHoverText {
	transform: scale(1) rotate(0deg);
}

@media (min-width: 600px) {
	#projectsSection .projectDisplay {
		width: 90%;
		grid-template-columns: repeat(2, 1fr);
	}

	.projectDisplay .project .projectHoverText h2 {
		font-size: 1.1rem;
	}
	
	.projectDisplay .project .projectHoverText p {
		font-size: unset;
	}
}

@media (min-width: 900px) {
	#projectsSection .projectDisplay {
		grid-template-columns: repeat(3, 1fr);
	}

	.projectDisplay .project .projectHoverText h2 {
		font-size: 2rem;
	}
	
	.projectDisplay .project .projectHoverText p {
		font-size: unset;
	}
}

#contactSection form {
	border: 2px solid var(--text);
	padding: 1rem;
	background: var(--secondary);
	border-radius: 15px;
	box-shadow: 0 0 4px 1px rgba(0,0,0,.08);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

#contactSection form p {
	margin: 0;
	width: 100%;
}

#contactSection form input {
	border: 1px solid #d3d3d3;
	padding: 1rem;
	background: #f9f9f9;
	border-radius: 3px;
	box-shadow: 0 0 4px 1px rgba(0,0,0,.08);
	width: 100%;
	flex: 1 1 0px;
	color: #000;
}

#contactSection form input:focus-visible {
	outline: 3px solid var(--selected);
}

#contactSection form input::placeholder {
	color: #000;
	opacity: 1;
}

#contactSection form button {
	border: 1px solid #d3d3d3;
	padding: 1rem;
	background: #f9f9f9;
	border-radius: 3px;
	box-shadow: 0 0 4px 1px rgba(0,0,0,.08);
	width: 100%;
	flex: 1 1 0px;
	color: #000;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;
}

#contactSection form button:hover{
	background: #000;
	color: #f9f9f9;
	box-shadow: 0 0 4px 1px rgba(255,255,255,.08);
}

#contactSection form button:focus-visible {
	outline: 3px solid var(--selected);
}

footer {
	position: relative;
    width: 100vw;
    background-color: var(--primary);
    padding: 0.25rem;
    display: flex;
    justify-content: space-evenly;
	align-items: center;
    left: -2rem;
    transform: translateY(1rem);
	z-index: 3;
	flex-wrap: wrap-reverse;
}

footer p {
	margin: 0;
	font-size: smaller;
}

footer .contactContent .quickContacts {
	position: relative;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .contactContent .quickContacts a {
	position: relative;
	border-radius: 5px;
	width: 1.5rem;
	height: 1.5rem;
	margin: 0.5rem;
	border: 2px solid var(--text);
	overflow: hidden;
}

footer .contactContent .quickContacts a:nth-child(1) {
	background-color: rgb(26, 107, 196);
}

footer .contactContent .quickContacts a:nth-child(2) {
	background-color: rgb(119, 141, 219);
}

footer .contactContent .quickContacts a:nth-child(3) {
	background-color: rgb(255, 65, 48);
}

footer .contactContent .quickContacts a {
	position: relative;
	background-color: transparent;
	display: block;
}

footer .contactContent .quickContacts .resumeButton {
	width: fit-content;
	padding: 0.25rem;
	color: var(--text);
	background-color: var(--primary);
	border: 2px solid var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

footer .contactContent .quickContacts a svg {
	position: relative;
	background-color: transparent;
	width: 100%;
	height: 100%;
	transform: scale(0.7);
}

footer .contactContent .quickContacts a svg path {
	fill: rgb(255, 255, 255);
}

footer .contactContent .quickContacts a:hover {
	transform: scale(1.1);
}

footer .contactContent .quickContacts a:focus-visible {
	transform: scale(1.1);
	outline: 2px solid var(--selected);
	outline-offset: 2px;
}