/* Presets */
:root[data-theme="light"] {
	--text: #0a2414;
	--background: #f7fdf9;
	--primary: #55aaa0;
	--secondary: #d0dee7;
	--accent: #4f7e9c;
	--selected: #aa555f;
}

:root[data-theme="dark"] {
	--text: #dbf5e5;
	--background: #020804;
	--primary: #55aaa0;
	--secondary: #18262f;
	--accent: #6393b0;
	--selected: #aa555f;
}

* {
	color: var(--text);
	background-color: var(--background);
	font-family: 'PT Sans', sans-serif;
	scroll-behavior: smooth;
	box-sizing: border-box;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

::selection {
	background-color: var(--accent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Nunito', sans-serif;
}

button,
a {
	cursor: pointer;
}

a {
	color: var(--accent);
}

html,
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

/* Color Mode */
#colorMode {
	position: fixed;
	width: 1.5rem;
	height: 1.5rem;
	background-color: var(--secondary);
	overflow: hidden;
	border: 2px solid var(--text);
	border-radius: 5px;
	bottom: 1rem;
	left: 1rem;
}

#colorMode svg {
	position: absolute;
	width: 70%;
	height: 70%;
	left: 15%;
	top: 15%;
	fill: var(--text);
	background-color: transparent;
	transition: transform 0.3s ease-in-out;
}

:root[data-theme="light"] #colorMode #moonIcon {
	transform: translateY(3rem);
}

:root[data-theme="dark"] #colorMode #sunIcon {
	transform: translateY(3rem);
}

#colorMode:hover {
	transform: scale(1.1);
}

#colorMode:focus-visible {
	outline: 3px solid var(--accent);
	outline-offset: 3px;
}

/* Header */

header {
	position: fixed;
	width: 100%;
	height: fit-content;
	background-color: var(--primary);
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
    z-index: 2;
}

header h2 {
	margin: 0;
	background-color: transparent;
	flex: 1 1 0px;
	transition: font-size 0.3s ease-in-out;
}

header[data-state="expanded"] h2 {
	font-size: 6vmin;
}

header[data-state="collapsed"] h2 {
	font-size: max(3vmin, 0.75rem);
}

header h2 a {
	text-decoration: none;
	background-color: transparent;
	color: var(--text);
	font: inherit;
}

header h2 a:hover {
	color: var(--secondary);
}

header h2 a:focus-visible {
	color: var(--secondary);
	outline: 2px solid var(--secondary);
	outline-offset: 0.5rem;
	border-radius: 5px;
}

header nav {
	background-color: transparent;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: max(6vmin, 1.2rem);
	height: max(6vmin, 1.2rem);
}

nav ul {
	position: absolute;
	padding: 0.5rem;
	margin: 0;
	right: 0;
	top: calc(100% - 1.5px);
	background-color: var(--secondary);
	display: flex;
	justify-content: center;
	align-items: end;
	flex-direction: column;
	gap: 0.25rem;
	border: 2px solid var(--text);
	border-radius: 10px 0px 10px 10px;
	width: 7rem;
	transform-origin: top right;
	transition: transform 0.3s ease-in-out;
	list-style: none;
}

nav[data-state="collapsed"] ul {
	transform: scale(0);
}

nav[data-state="expanded"] ul {
	transform: scale(1);
}

nav ul li {
	background-color: transparent;
}

nav ul a {
	background-color: transparent;
	text-decoration: none;
	text-align: right;
	color: var(--text);
	white-space: nowrap;
	transition: color 0s;
	line-height: 1.25rem
}

nav[data-state="collapsed"] ul a {
	visibility: hidden;
}

nav[data-state="expanded"] ul a {
	visibility: visible;
}

nav ul a:hover {
	color: var(--selected);
	font-weight: bold;
	font-size: larger;
}

nav ul a:focus-visible {
	outline: 2px solid var(--selected);
	outline-offset: 2px;
	color: var(--selected);
	font-weight: bold;
	font-size: larger;
}

nav button {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--secondary);
	border: 2px solid var(--text);
	padding: 0;
	transition: border-radius 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav button svg path{
	fill: var(--text);
}

nav button:focus-visible {
	outline: 3px solid var(--background);
	outline-offset: 3px;
}

nav button:focus-visible svg path{
	fill: var(--selected);
}


nav button:hover svg path {
	fill: var(--selected);
}

nav[data-state="collapsed"] button {
	border-radius: 10px;
}

nav[data-state="expanded"] button {
	border-radius: 10px 10px 0px 0px;
}


nav button svg {
	position: absolute;
	height: 60%;
	width: 60%;
	background-color: transparent;
	transition: transform 0.3s ease-in-out;
	transform: scale(0) rotate(180deg);
}

nav[data-state="collapsed"] button svg:nth-child(1) {
	transform: scale(1) rotate(0deg);
}

nav[data-state="expanded"] button svg:nth-child(2) {
	transform: scale(0.9) rotate(180deg);
}

nav button::before {
	content: '';
	position: absolute;
	background-color: var(--secondary);
	height: 0.3rem;
	bottom: -0.15rem;
    width: 100%;
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
}

nav[data-state="expanded"] button::before {
    opacity: 1;
}

nav[data-state="collapsed"] button::before {
    opacity: 0;
}

/* Main */

main {
	position: relative;
	padding-bottom: 1rem;
	padding-inline: 2rem;
}

header[data-state="expanded"] ~ main {
	padding-top: calc(7vmin + 3.2rem);
}

header[data-state="collapsed"] ~ main {
	padding-top: calc(6vmin + 3.2rem);
}

/* Sections */

section {
	position: relative;
	width: 100%;
	height: fit-content;
	box-sizing: border-box;
	border: 2px solid orange;
}

body {
	height: 1000vh;
}