.theme-toggle-button {
    background-color: transparent;
    position: fixed;
    z-index: 10;
    display: grid;
    width: 3rem;
    height: 3rem;
    background-color: var(--background);
    border-radius: 0.25rem;
    bottom: 1rem;
    left: 1rem;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    box-shadow: 2px 0px 0px 0px var(--text), 0px 2px 0px 0px var(--text), -2px 0px 0px 0px var(--text), 0px 0px 0px 2px var(--text);
}

.theme-toggle-button svg {
    background-color: transparent;
    width: 100%;
    height: 100%;
    stroke: transparent;
    padding: 0.5rem;
}

.theme-toggle-button svg path {
    fill: var(--text);
}

.theme-toggle-button .moon {
    transform: rotate(-90deg) ;
}

.theme-toggle-button .theme-icons {
    transition: transform 0.3s ease-in-out;
    position: absolute;
}