.theme-toggle-button {
    background-color: transparent;
    position: fixed;
    z-index: 10;
    display: grid;
    width: 3rem;
    height: 3rem;
    background-color: var(--text);
    border-radius: 0.25rem;
    bottom: 1rem;
    left: 1rem;
    overflow: hidden;
}

.theme-toggle-button svg {
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    stroke: var(--background);
}

.theme-toggle-button svg path {
    fill: var(--text);
}

.theme-toggle-button .moon {
    transform: rotate(180deg);
}

.theme-toggle-button .theme-icons {
    transition: transform 0.3s ease-in-out;
}