@property --paintProgress {
	syntax: '<percentage>';
	initial-value: 0%;
	inherits: false;
}

@keyframes paint {
	0% {
		--paintProgress: 0%;
        opacity: 0;
	}

    40% {
		--paintProgress: 0%;
        opacity: 1;
	}

	100% {
		--paintProgress: 100%
	}
}

.center-display {
	--rotation: 5deg;
	--animation: linear(0, 0.011 0.5%, 0.051 1.1%, 0.118 1.7%, 0.207 2.3%, 0.412 3.4%, 1.01 6.2%, 1.268 7.7%, 1.357 8.4%, 1.423 9.1%, 1.466 9.8%, 1.485 10.5%, 1.484 11.1%, 1.468 11.7%, 1.39 13%, 1.282 14.2%, 0.991 17%, 0.86 18.6%, 0.789 20%, 0.764 21.3%, 0.771 22.4%, 0.808 23.7%, 1.006 27.8%, 1.066 29.3%, 1.102 30.7%, 1.115 32%, 1.111 33.2%, 1.093 34.5%, 0.967 40.1%, 0.944 42.7%, 0.952 44.9%, 1.012 50.4%, 1.027 53.4%, 0.987 64.1%, 1.006 74.6%, 0.997 85.3%, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	height: 20rem;
	gap: 5rem;
	background-image:
		linear-gradient(to right,
			var(--accent),
			var(--accent) var(--paintProgress),
			transparent var(--paintProgress),
			transparent 100%);
	width: 80%;
	transform: rotate(var(--rotation));
	transform-origin: left;
	max-width: 100%;
	position: relative;
	animation: paint forwards;
	animation-timing-function: var(--animation);
	animation-duration: 0.7s;
}

.center-display::after, .center-display::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 10rem;
	background-color: var(--accent);
	display: none;
	z-index: -1;
}

.center-display::after {
	left: 95%;
}

.center-display::before {
	right: 95%;
}

.center-display .unrotate {
	transform: rotate(calc(var(--rotation) * -1));
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: var(--background);
	font-weight: 900;
	text-align: center;
}

@media (max-width: 499px) {
	.center-display::after, .center-display::before {
		display: block;
	}
	
	.center-display {
		animation-duration: 0s;
	}
}