/* Page Section Layout */
.page-section {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  overflow: visible !important;
  flex-wrap: wrap;
  max-width: 90%;
}

.page-section::before {
  content: '';
  box-shadow: inset 0px -50px 50px 0px var(--background);
  position: absolute;
  top: 0;
  width: 110%;
  height: 10rem;
  transform: rotate(180deg);
  pointer-events: none;
}

.page-section::after {
    content: '';
    box-shadow: inset 0px -50px 50px 0px var(--background);
    position: absolute;
    bottom: 0;
    width: 110%;
    height: 10rem;
    pointer-events: none;
}

/* Section Title */
.page-section .section-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
  z-index: 5;
  padding-top: 2rem;
  pointer-events: none;
}

.page-section .section-title {
  width: 100%;
  text-align: center;
  position: relative;
}

/* Page Section Layout */
.page-section .text-content {
  display: flex;
  gap: 2rem;
  align-items: stretch;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  justify-content: center ;
  position: relative;
  height: fit-content;
  flex-wrap: wrap;
}

.page-section .text-content:has(.text-content) {
  max-width: min(73ch, 90%);
}

/* Section Content */
.page-section .section-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  place-items: center;
  position: relative;
}

.page-section .section-title-wrapper canvas {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
}


.page-section .section-title-wrapper div:has(div) {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content !important;
  height: fit-content !important;
  overflow: visible !important;

  width: 10em !important;
  position: relative !important;
}

.page-section .section-title-wrapper .moon:has(div) {
  z-index: -6;
}

.page-section .section-title-wrapper div > div:has(canvas) {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem !important;
  height: 6rem !important;
}

.page-section .section-title-wrapper div.moon > div {
  width: 6rem !important;
  height: 6rem !important;
  position: relative;
  transform: translateX(1.5rem);
}

.page-section .section-title-wrapper .earth-button, .page-section .section-title-wrapper .pencil-button {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
  z-index: 10;
}

.page-section .section-title-wrapper .pencil-button {
  border-radius: var(--border-radius);
}

.page-section .section-title-wrapper .earth-button:hover > div, .page-section .section-title-wrapper .earth-button:focus-visible > div {
  transform: scale(1.1);
}

.page-section .section-title-wrapper .earth {
  transition: transform 0.1s ease-in-out;
}

.page-section .section-title-wrapper div.earth > div {
  width: 6rem !important;
  height: 6rem !important;
  position: relative;
}

.page-section .section-title-wrapper .rocket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  position: absolute;
  transform: rotate(180deg);
  pointer-events: none;
  z-index: -5;
}


.page-section .section-title-wrapper .rocket-clone {
  z-index: 5 !important;
}

@keyframes rocketFly {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(5deg);
  }
}

@keyframes rocketShrink {
  0% {
    opacity: 1;
    margin-left: 1.5rem;
    transform: scale(2) rotate(135deg);
  }
  35% {
    opacity: 1;
    margin-left: 3.5rem;
    transform: scale(2) rotate(135deg);
  }
  99% {
    opacity: 1;
    margin-left: 3.5rem;
    transform: scale(0.6) rotate(310deg);
  }
  100% {
    --flame: transparent;
    opacity: 1;
    margin-left: 3.5rem;
    transform: scale(0.6) rotate(310deg);
  }
}

.page-section .section-title-wrapper .rocket svg {
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 0;
  transform: rotate(135deg);
  opacity: 0;
  margin-left: 1.5rem;
  --flame: var(--accent);
}

.page-section .section-title-wrapper .rocket path {
  fill: var(--primary);
}

.page-section .section-title-wrapper .rocket .rocket_svg__st2 {
  fill: var(--flame);
}

/* 1 Media Layout (Media on the Right) */
.section-layout.one-media {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* 2 Media Layout (Media on Either Side) */
.section-layout.two-media {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

/* 3+ Media Layout (Media Below) */
.media-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  max-width: 80%;
}

.media-gallery .media-wrapper {
  flex: 1 1 calc(33.333% - 1rem);
  margin-bottom: 1rem;
  min-width: 25rem;
  background-color: transparent;
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

/* Media Wrapper Image & Video Style */
.media-gallery .media-wrapper img,
.media-gallery .media-wrapper video {
  border-radius: var(--border-radius);
  overflow: hidden;
  object-fit: cover;
  height: auto;
  border: 2px solid var(--text);
  width: 100%; /* Ensure media fills container */
  height: 100%; /* Ensure media fills container */
  object-fit: cover; /* Ensures aspect ratio is maintained */
  aspect-ratio: 16 / 9; /* Optional: enforce specific aspect ratio */
}

/* Media Text */
.media-gallery .media-wrapper p {
  margin-bottom: 0.5rem;
}

/* Links and Hover Effects */
.media-gallery .media-wrapper a {
  padding: 0;
  width: fit-content;
  height: fit-content;
  border-radius: var(--border-radius) !important;
  background-color: transparent !important;
  color: var(--text);
  outline: none !important;
}

.media-gallery .media-wrapper a:hover video,
.media-gallery .media-wrapper a:focus-visible video,
.media-gallery .media-wrapper a:hover img,
.media-gallery .media-wrapper a:focus-visible img {
  outline: 3px solid var(--primary);
  outline-offset: 2px;
}

/* Media Item */
.media-gallery .media-wrapper .media-item {
  border-radius: var(--border-radius);
  overflow: hidden;
  object-fit: cover;
  border: 2px solid var(--text);
}

/* Grayscale Filter */
.media-gallery .media-wrapper .grayscale {
  filter: grayscale(100%);
}

/* Slide-in animations */
.media-gallery .media-wrapper {
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  opacity: 0;
}

.page-section .media-wrapper.animated:first-of-type {
  animation-name: slideInLeft;
}
.page-section .media-wrapper.animated:nth-child(2) {
  animation-name: slideInBottom;
}
.page-section .media-wrapper.animated:last-of-type {
  animation-name: slideInRight;
}

.page-section p:has(br) {
  height: 1rem;
  display: block;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInBottom {
  from {
    opacity: 0;
    transform: translateY(100rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pencil-move {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(168deg);
  }
  50% {
    transform: rotate(168deg);
  }
  75% {
    transform: rotate(168deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.pencil-arc-animate {
  animation: pencil-move 5s ease-in-out;
}

@keyframes pencil-write {
  0% {
    transform: rotate(0deg) translateX(-20%);
  }
  25% {
    transform: rotate(-180deg);
  }

  30% {
    transform: rotate(-160deg);
  }
  35% {
    transform: rotate(-180deg);
  }
  40% {
    transform: rotate(-160deg);
  }
  45% {
    transform: rotate(-180deg);
  }
  50% {
    transform: rotate(-160deg);
  }
  55% {
    transform: rotate(-180deg);
  }
  60% {
    transform: rotate(-160deg);
  }
  65% {
    transform: rotate(-180deg);
  }
  70% {
    transform: rotate(-160deg);
  }


  75% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg) translateX(-20%);
  }
}

.pencil-move {
  animation: pencil-write 5s ease-in-out;
  z-index: 5;
}

.paper {
  z-index: 3;
}

.page-section .section-title-wrapper .pencil-arc {
  width: 100%;
  height: 1rem;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 5;
}

/* Responsive Adjustments */
@media screen and (max-width: 1539px) {
  .page-section .media-wrapper.animated:first-of-type {
    animation-name: slideInLeft;
  }
  .page-section .media-wrapper.animated:nth-child(2) {
    animation-name: slideInRight;
  }
  .page-section .media-wrapper.animated:last-of-type {
    animation-name: slideInBottom;
  }
}

@media screen and (max-width: 1019px) {
  .page-section .media-wrapper.animated:first-of-type {
    animation-name: slideInLeft;
  }
  .page-section .media-wrapper.animated:nth-child(2) {
    animation-name: slideInRight;
  }
  .page-section .media-wrapper.animated:last-of-type {
    animation-name: slideInLeft;
  }
}

@media screen and (max-width: 500px) {
  .media-gallery .media-wrapper a {
    width: 100% !important;
  }

  .media-gallery .media-wrapper {
    min-width: 11rem;
  }
}

@media screen and (max-width: 471px) {
  .page-section .section-title-wrapper {
    flex-wrap: wrap;
  }

  .page-section .section-title-wrapper .section-title {
    order: 1;
    width: fit-content !important;
  }

  .page-section .section-title-wrapper div.moon > div {
    transform: unset;
  }
  
  .page-section .section-title-wrapper div:has(div) {
    width: unset !important;
    height: unset !important;
  }

  .page-section .section-title-wrapper .rocket {
    width: 12rem;
  }

  .page-section .section-title-wrapper .pencil-arc {
    width: 12rem;
  }

  @keyframes rocketFly {
    from {
      transform: rotate(160deg);
    }
    to {
      transform: rotate(36.5deg);
    }
  }

  @keyframes rocketShrink {
    0% {
      opacity: 1;
      transform: scale(1.5) rotate(135deg);
    }
    35% {
      opacity: 1;
      transform: scale(1) rotate(135deg);
    }
    99% {
      opacity: 1;
      transform: scale(0.4) rotate(280deg);
    }
    100% {
      --flame: transparent;
      opacity: 1;
      transform: scale(0.4) rotate(280deg);
    }
  }

  @keyframes pencil-move {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(100deg);
    }
    50% {
      transform: rotate(100deg);
    }
    75% {
      transform: rotate(100deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes pencil-write {
    0% {
      transform: rotate(0deg) translateY(-20%);
    }
    25% {
      transform: rotate(-90deg);
    }
  
    30% {
      transform: rotate(-110deg);
    }
    35% {
      transform: rotate(-90deg);
    }
    40% {
      transform: rotate(-110deg);
    }
    45% {
      transform: rotate(-90deg);
    }
    50% {
      transform: rotate(-110deg);
    }
    55% {
      transform: rotate(-90deg);
    }
    60% {
      transform: rotate(-110deg);
    }
    65% {
      transform: rotate(-90deg);
    }
    70% {
      transform: rotate(-110deg);
    }
  
  
    75% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(0deg) translateY(-20%);
    }
  }
}