.page-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: fit-content;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.page-section .section-title {
    width: 100%;
    text-align: center;
}

.page-section .section-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 73ch;
    gap: 1rem;
}

.page-section .media-item {
    border-radius: var(--border-radius);
    overflow: hidden;
    object-fit: cover;
}

/* === 1 Media Layout (Media on the Right) === */
.section-layout.one-media {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* === 2 Media Layout (Media on Either Side) === */
.section-layout.two-media {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

/* === 3+ Media Layout (Media Below) === */
.media-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    max-width: 80%;
  }
  
  .media-gallery .media-wrapper {
    flex: 1 1 calc(33.333% - 1rem);
    margin-bottom: 1rem;
    min-width: 25rem;
    background-color: transparent;
  }
  

  @media screen and (max-width: 499px) {
    .media-gallery .media-wrapper {
        flex: 1 1 calc(33.333% - 1rem);
        margin-bottom: 1rem;
        min-width: 10rem;
        background-color: transparent;
      }
}