.home {
    width: 100%;
    height: fit-content;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--text);
    align-content: space-between; 
    justify-content: flex-start;
    position: relative;
    gap: 1rem;
    overflow: hidden;
}

.main {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--background);
}

@media screen and (max-width: 349px) {
    .home h1 {
        font-size: var(--extra-extra-extra-large);
    }

    .home h2 {
        font-size: var(--extra-extra-large);
    }

    .home h3 {
        font-size: var(--extra-large);
    }

    .home h4 {
        font-size: var(--large);
    }

    .home h5 {
        font-size: var(--small);
    }

    .home small {
        font-size: var(--extra-small);
    }
}

@media screen and (max-width: 299px) {
    .home h1 {
        font-size: var(--extra-extra-large);
    }

    .home h2 {
        font-size: var(--extra-large);
    }

    .home h3 {
        font-size: var(--large);
    }

    .home h4 {
        font-size: var(--small);
    }

    .home h5 {
        font-size: var(--extra-small);
    }

    .home small {
        font-size: var(--extra-small);
    }
}